@using Application.Services.TodoItem.Queries.GetTodo;
@model ResultGetTodo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sitetemplate/css/styletable.css" rel="stylesheet" />
    <title>Table</title>
</head>


<body>
    

  <form action="?" style="margin-top: -500px;margin-right:0px" class="add_Task  w-150 row align-item-center">
                           
           <div class="col-md-2">
              <button asp-controller="ToDo" asp-action="AddTodo"  class="btn btn-info text-light"  style="text-align: center;  padding: 8px 15px;!important height: fit-content;" >
                 <i class="fas fa-plus-square me-2"></i>
                 اضافه کن
              </button>
           </div>  
    </form>
    <hr>
     <h1 style="margin-top:-800px;">لیست وظایف</h1>

    <table>
        <tr id="header">
            <th>#</th>
            <th>عنوان</th>
            <th>توضیحات</th>
            <th>الویت</th>
            <th>وضعیت</th>
            <th>تاریخ ثبت</th>
            <th>تاریخ تکمیل</th>
            <th> عملیات</th>
        </tr>
        @foreach (var item in Model.GetToDoDtos)
        {
            
                <tr>
                    <td>@item.Id </td>
                    <td>@item.Title </td>
                    <td>@item.Description </td>
                    <td>@item.Priority </td>
                    <td>@item.Status </td>
                    <td> </td>
                    <td>
              
                    </td>
                    <td style="width:300px">
                      <button class="btn btn-info text-light" id="Edit">
                           <i class="fas fa-edit"></i>
                      </button>  
                      <button class="btn btn-danger" id="Delete" >
                          <i class="fas fa-trash-alt"></i>
                      </button> 
                    </td>
              
                </tr>
            
         

        }


    </table>

</body>
</html>